@media only screen and (max-width:7680px){
	.c-hamburger{display:none !important;}

	header#main_header.scrolled{position:fixed;}
	header#main_header.scrolled .column-logo a.logo img{width:75%;height:auto;}

	header#main_header .top_header_utility .utility ul > li > a:before {padding: 0 0 0 0.85rem;}
	header#main_header .top_header_utility .utility ul li.search-menu-item i span.utility_nav_item {font-family: 'ProximaNova-Regular'; padding:0 0.85rem;}

	header#main_header .top_header_utility .utility ul li.search-menu-item i{margin: 0; padding: 0 0 0 0.85rem; font-size: 0.75rem; font-weight: 500; line-height: 2.5rem;}

	header#main_header .top_header #primary_navigation{/*position:absolute;bottom:1.25rem;*/padding-top:4rem;}
	header#main_header .top_header #primary_navigation > ul > li > a{font-size:15px;margin:0;padding:1rem 1.1rem;}
	header#main_header .top_header #primary_navigation a{font-size:15px !important;}
	header#main_header .top_header #primary_navigation > ul > li:hover > .sub-menu > li > a{font-size:16px;margin:0;padding:0.75rem 1.5rem;}

	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption{width:90%;bottom:12%;padding:1.2rem;}
	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption h4{font-size:18px;}
	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption p {margin: 0 0 0.75rem; font-size: 15px;}
	#hero-owl-carousel-container #hero-owl-carousel .owl-controls .owl-nav{display:block;}

	#main_content.frontpage .section.gallery .ngg-galleryoverview .ngg-gallery-thumbnail-box{width:25% !important;}
}

@media only screen and (max-width:1920px){
}

@media only screen and (max-width:1768px){
}

@media only screen and (max-width:1680px){
}

@media only screen and (max-width:1600px){
}

@media only screen and (max-width:1440px){
}

@media only screen and (max-width:1366px){
}

@media only screen and (max-width:1280px){
}

@media only screen and (max-width:1024px){
	header#main_header .top_header #primary_navigation{}
	header#main_header .top_header #primary_navigation > ul > li > a{font-size:14px;margin:0;padding:0.75rem;}
	header#main_header .top_header #primary_navigation a{font-size:14px !important;}

	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption{width:90%;bottom:10%;padding:1rem;}
}

@media only screen and (max-width:1023px){
	.c-hamburger{display:block !important;}

	header#main_header .top_header #primary_navigation{padding-top:0;}

	header#main_header .top_header .column-logo {text-align: center;}
	header#main_header .top_header_utility .utility ul > li > a:before {padding: 0 0.65rem;}
	header#main_header .top_header_utility .utility ul li.search-menu-item i{padding: 0 0.65rem;}
	header#main_header .top_header_utility .utility ul li span.utility_nav_item{display:none !important;}

	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption {width: 85%;}
	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption h4{font-size:15px;}
	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption p {margin: 0 0 0.5rem; font-size: 14px;}
}

@media only screen and (max-width:1000px){
	header#main_header.scrolled{position:relative;}

	#main_content.frontpage .section.gallery .ngg-galleryoverview .ngg-gallery-thumbnail-box{width:50% !important;}
}

@media only screen and (max-width: 960px){

}

@media only screen and (max-width:959px){
}

@media only screen and (max-width:768px){
}

@media only screen and (max-width:640px){

}

@media only screen and (max-width:603px){
	#main_content.frontpage .section.hero #hero-owl-carousel-container .hero-item .caption p{display:none;}
}

@media only screen and (max-width:600px){	
}

@media only screen and (max-width:533px){
}
	
@media only screen and (max-width:532px){
	#main_content.frontpage .section.gallery .ngg-galleryoverview .ngg-gallery-thumbnail-box{width:100% !important;}
}

@media only screen and (max-width:414px){
}

@media only screen and (max-width:375px){
}

@media only screen and (max-width:360px){
}

@media only screen and (max-width:320px){
}

@media only screen and (max-width:240px){
}